<div class="container-fluid">
    <div class="legendDiv">
        <fieldset>
            <legend>Activities Assigned to Me:</legend>
            <div ng-repeat="activity in activityNames">
                <strong>{{activity.name}}</strong>
                <a href="">Mark Attendance</a>
                
            </div>
        </fieldset>
    </div>
    
    <div class="legendDiv">
        <fieldset>
            <legend>View Attendance For:</legend>
            <select class="form-control" >
                <option ng-repeat="student in students" value="{{student.id}}">{{student.name_first}} {{student.name_last}}</option>
            </select>
        </fieldset>
    </div>
    
</div>
