<div class="container-fluid" ng-init="init()">

    <div class="panel">
      <div class="panel-body">
        <div class='row'>
                <form>
                    <div class='col-sm-4'>
                        <label>Activities</label>
                        <select class="form-control" ng-model="filter.activityId">
                            <option ng-repeat="act in activities" value="{{ act['id'] }}">{{ act['name'] }}</option>
                        </select>
                    </div>
                    <div class='col-sm-4'>
                        <label>Date</label>
                        <input type="date" ng-model="filter.date" class="form-control">
                    </div>
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-default" ng-click="searchByActivityAndDate(filter)">Search</button>
                    </div>
                </form>
        </div>
        <h1>Mark Attendance</h1>
        <table class="table table-striped">
          <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Status & Comments</th>
          </tr>
          <tr ng-repeat="student in students">
            <td>{{student.id}}</td>
            <td>{{student.name_first}}</td>
            <td>{{student.name_last}}</td>
            <td>
                <form>
                    <!-- status 1 is present -->
                    <label class="radio-inline">
                    <input type="radio" ng-model="status" value="1" ng-change="checkin(status, student.id)"> Present
                    </label>
                    <!-- status 2 is absent -->
                    <label class="radio-inline">
                    <input type="radio" ng-model="status" value="2" ng-change="checkin(status, student.id)"> Absent
                    </label>
                    <!-- status 3 is absent/excused -->
                    <label class="radio-inline">
                    <input type="radio" ng-model="status" value="3" ng-change="checkin(status, student.id)"> Excused
                    </label>
                    <textarea ng-model="comment" ng-change="addComment(comment, student.id)"></textarea>
                </form>
            </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <form>
                    <input type="submit" value="Check in" ng-click="finalCheckIn()">
                </form>
            </td>
          </tr>
        </table>
      </div>
    </div>

</div>
