<div class="container-fluid" ng-init="init()">

    <div class="panel">
      <div class="panel-body">

        <h1>Mark Attendance</h1>

        <table class="table table-striped">
          <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
          </tr>
          <tr ng-repeat="student in students">
            <th>{{student.id}}</th>
            <th>{{student.name_first}}</th>
            <th>{{student.name_last}}</th>
          </tr>
        </table>
      </div>
    </div>

</div>
