<div class="container-fluid">

    <div class="panel">
      <div class="panel-body">

        <h1>Settings</h1>
				<h1>Manage Users</h1>
				<table class="table table-striped setting-table">
					<tr>
						<th>ID</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Status</th>
					</tr>
					<tr ng-repeat="teachers in teachers">
						<td>{{teachers.id}}</td>
						<td>{{teachers.name_first}}</td>
						<td>{{teachers.name_last}}</td>
						<td>
							<form>
								<label class="radio-inline">
									<button type="radio" ng-model="status" value="deactivate" ng-checked="deactivate(status, student.id)"> deactivate</button>
								</label>
							</form>
						</td>
						<td><button><link rel="stylesheet" href="">Edit Information</button></td>
					</tr>
				</table>
				<table class="table table-striped setting-table">
					<tr>
						<th>ID</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Status</th>
					</tr>
					<tr ng-repeat="student in students">
						<td>{{student.id}}</td>
						<td>{{student.name_first}}</td>
						<td>{{student.name_last}}</td>
						<td>
							<form>
								<label class="radio-inline">
									<button type="radio" ng-model="status" value="deactivate" ng-click="deactivate(status, student.id)"> deactivate</button>
								</label>
							</form>
						</td>
						<td><button><link rel="stylesheet" href="">Edit Information</button></td>
					</tr>
				</table>
			</div>
	</div>

</div>