<div class="container-fluid">

    <div class="panel">
      <div class="panel-body">

        <h1>View History</h1>
          <div class='row'>
                <form>
                    <div class='col-sm-4'>
                        <label>Activities</label>
                        <select class="form-control" ng-model="filter.studentId">
                            <option ng-repeat="student in students" value="{{student.id}}">{{student.name_first}} {{student.name_last}}</option>
                        </select>
                    </div>
<!--
                    <div class='col-sm-4'>
                         Need to add multiple checkbox dropdown for categories (Class, Therapy, Extra-Curricular) 
                    </div>
-->
                    <div class='col-sm-4'>
                        <label>From</label>
                        <input type="date" ng-model="filter.fromDate" class="form-control">
                    </div>
                    <div class='col-sm-4'>
                        <label>To</label>
                        <input type="date" ng-model="filter.toDate" class="form-control">
                    </div>
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-default" ng-click="searchHistoryByStudentAndDate(filter)">Search</button>
                    </div>
                </form>
        </div>
        <table class="table table-striped">
          <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Status</th>
            <th>Comments</th>
          </tr>
          <tr ng-repeat="activity in activities">
            <td>{{activity.id}}</td>
            <td>{{student.status_id}}</td>
            <td>{{student.comment}}</td>
          </tr>
        </table>  
          
          
          
          

<!--
        <label>Search: <input ng-model="searchText"></label>
        <table class="table table-striped">
          <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
          </tr>
          <tr ng-repeat="student in students | filter: searchText">
            <td>{{student.id}}</td>
            <td>{{student.name_first}}</td>
            <td>{{student.name_last}}</td>
          </tr>
        </table>
-->
      </div>
    </div>

</div>
